<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>House Price Prediction in Perth</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
		<input type="text" name="BEDROOMS" placeholder="Number of Bedrooms" required="required" />
    <input type="text" name="BATHROOMS" placeholder="Number of Bathrooms" required="required" />
		<input type="text" name="GARAGE" placeholder="Number of Garage Spaces" required="required" />
    <input type="text" name="LAND_AREA" placeholder="Land Area (m2)" required="required" />
    <input type="text" name="FLOOR_AREA" placeholder="Floor Area (m2)" required="required" />
		<input type="text" name="BUILD_YEAR" placeholder="Year Built" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
 <img src="/static/images/Original.svg" style="width: 400px;position: absolute;bottom: 10px;left: 10px;" alt="Company Logo"/>

</body>
</html>
